
./vscode/
.vscode/*

# Ignore everything in linked_list except .cc files
/linked_list/*
!/linked_list/*.cc
!/linked_list/*.md

/binary_tree/*
!/binary_tree/*.cc
!/binary_tree/*.md
!/binary_tree/*.py
